<!DOCTYPE html>
<html>
<head>
<style>
p  {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font: size 0;
}
</style>
</head>
<body>

<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
Lorem ipsum dolor sit amet. </p>


</body>
</html>


